name: Build new version
on:
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
      version_tag: ${{ steps.version.outputs.version_tag }}
      increment: ${{ steps.version.outputs.increment }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: "^1.21"
      - uses: paulhatch/semantic-version@v5.4.0
        id: version
        with:
          bump_each_commit: true
      - run: make test-integration-docker
        name: Run integration tests inside Docker
      - run: make test
        name: Unit tests
      - run: make build
        name: Build
        env:
          VERSION: ${{ steps.version.outputs.version }}
      - run: make build-plugins
        name: Build plugins
      - name: Release
        uses: softprops/action-gh-release@v2
        if: ${{ steps.version.outputs.version != '' }}
        with:
          tag_name: ${{ steps.version.outputs.version_tag }}
          prerelease: ${{ steps.version.outputs.increment != 0 }}
          make_latest: true
          files: |
            bin/druid
            bin/druid_rcon
            bin/druid_rcon_web_rust
            .docker/entrypoint.sh
            .docker/druid-install-command.sh

  docker-base:
    needs: build
    uses: ./.github/workflows/docker-build-reusable.yml
    with:
      dockerfile: Dockerfile
      tag_suffix: ""
      version: ${{ needs.build.outputs.version }}
      version_tag: ${{ needs.build.outputs.version_tag }}
    secrets:
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      DRUID_ARTIFACTS_REGISTRY_USERNAME: ${{ vars.DRUID_ARTIFACTS_REGISTRY_USERNAME }}
      DRUID_ARTIFACTS_REGISTRY_TOKEN: ${{ secrets.DRUID_ARTIFACTS_REGISTRY_TOKEN }}

  docker-steamcmd:
    needs: [build, docker-base]
    if: ${{ needs.build.outputs.version != '' }}
    uses: ./.github/workflows/docker-build-reusable.yml
    with:
      dockerfile: Dockerfile.steamcmd
      tag_suffix: "-steamcmd"
      version: ${{ needs.build.outputs.version }}
      version_tag: ${{ needs.build.outputs.version_tag }}
    secrets:
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      DRUID_ARTIFACTS_REGISTRY_USERNAME: ${{ vars.DRUID_ARTIFACTS_REGISTRY_USERNAME }}
      DRUID_ARTIFACTS_REGISTRY_TOKEN: ${{ secrets.DRUID_ARTIFACTS_REGISTRY_TOKEN }}

  docker-nix:
    needs: [build, docker-base]
    if: ${{ needs.build.outputs.version != '' }}
    uses: ./.github/workflows/docker-build-reusable.yml
    with:
      dockerfile: Dockerfile.nix
      tag_suffix: "-nix"
      version: ${{ needs.build.outputs.version }}
      version_tag: ${{ needs.build.outputs.version_tag }}
      base_tag_suffix: ""
      is_nix: true
    secrets:
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      DRUID_ARTIFACTS_REGISTRY_USERNAME: ${{ vars.DRUID_ARTIFACTS_REGISTRY_USERNAME }}
      DRUID_ARTIFACTS_REGISTRY_TOKEN: ${{ secrets.DRUID_ARTIFACTS_REGISTRY_TOKEN }}

  docker-nix-steamcmd:
    needs: [build, docker-steamcmd]
    if: ${{ needs.build.outputs.version != '' }}
    uses: ./.github/workflows/docker-build-reusable.yml
    with:
      dockerfile: Dockerfile.nix
      tag_suffix: "-nix-steamcmd"
      version: ${{ needs.build.outputs.version }}
      version_tag: ${{ needs.build.outputs.version_tag }}
      base_tag_suffix: "-steamcmd"
      is_nix: true
    secrets:
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      DRUID_ARTIFACTS_REGISTRY_USERNAME: ${{ vars.DRUID_ARTIFACTS_REGISTRY_USERNAME }}
      DRUID_ARTIFACTS_REGISTRY_TOKEN: ${{ secrets.DRUID_ARTIFACTS_REGISTRY_TOKEN }}
