name: Build new version
on:
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
      version_tag: ${{ steps.version.outputs.version_tag }}
      increment: ${{ steps.version.outputs.increment }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: "^1.21"
      - uses: paulhatch/semantic-version@v5.4.0
        id: version
        with:
          bump_each_commit: true
      - run: make test-integration-docker
        name: Run integration tests inside Docker
      - run: make test
        name: Unit tests
      - run: make build
        name: Build
        env:
          VERSION: ${{ steps.version.outputs.version }}
      - run: make build-plugins
        name: Build plugins
      - name: Release
        uses: softprops/action-gh-release@v2
        if: ${{ steps.version.outputs.version != '' }}
        with:
          tag_name: ${{ steps.version.outputs.version_tag }}
          prerelease: ${{ steps.version.outputs.increment != 0 }}
          make_latest: true
          files: |
            bin/druid
            bin/druid_rcon
            bin/druid_rcon_web_rust
            .docker/entrypoint.sh
            .docker/druid-install-command.sh
  docker-base:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        include:
          - dockerfile: Dockerfile
            tag_suffix: ""
          - dockerfile: Dockerfile.steamcmd
            tag_suffix: "-steamcmd"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to Artifacts Registry
        uses: docker/login-action@v3
        with:
          registry: artifacts.druid.gg
          username: ${{ vars.DRUID_ARTIFACTS_REGISTRY_USERNAME }}
          password: ${{ secrets.DRUID_ARTIFACTS_REGISTRY_TOKEN }}
      #stable is still pretty bleeding edge at this point
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          tags: |
            highcard/druid:latest${{ matrix.tag_suffix }}
            highcard/druid:stable${{ matrix.tag_suffix }}
            highcard/druid:${{ needs.build.outputs.version }}${{ matrix.tag_suffix }}
            highcard/druid:${{ needs.build.outputs.version_tag }}${{ matrix.tag_suffix }}
            artifacts.druid.gg/druid-team/druid:latest${{ matrix.tag_suffix }}
            artifacts.druid.gg/druid-team/druid:stable${{ matrix.tag_suffix }}
            artifacts.druid.gg/druid-team/druid:${{ needs.build.outputs.version }}${{ matrix.tag_suffix }}
            artifacts.druid.gg/druid-team/druid:${{ needs.build.outputs.version_tag }}${{ matrix.tag_suffix }}
          push: true
          build-args: |
            VERSION=${{ needs.build.outputs.version }}
            GIT_COMMIT=${{ github.sha }}
            GIT_BRANCH=${{ github.ref_name }}

  docker-nix:
    runs-on: ubuntu-latest
    needs: [build, docker-base]
    strategy:
      matrix:
        include:
          - base_tag_suffix: ""
            tag_suffix: "-nix"
          - base_tag_suffix: "-steamcmd"
            tag_suffix: "-nix-steamcmd"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to Artifacts Registry
        uses: docker/login-action@v3
        with:
          registry: artifacts.druid.gg
          username: ${{ vars.DRUID_ARTIFACTS_REGISTRY_USERNAME }}
          password: ${{ secrets.DRUID_ARTIFACTS_REGISTRY_TOKEN }}
      - name: Build and push Nix Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.nix
          tags: |
            highcard/druid:latest${{ matrix.tag_suffix }}
            highcard/druid:stable${{ matrix.tag_suffix }}
            highcard/druid:${{ needs.build.outputs.version }}${{ matrix.tag_suffix }}
            highcard/druid:${{ needs.build.outputs.version_tag }}${{ matrix.tag_suffix }}
            artifacts.druid.gg/druid-team/druid:latest${{ matrix.tag_suffix }}
            artifacts.druid.gg/druid-team/druid:stable${{ matrix.tag_suffix }}
            artifacts.druid.gg/druid-team/druid:${{ needs.build.outputs.version }}${{ matrix.tag_suffix }}
            artifacts.druid.gg/druid-team/druid:${{ needs.build.outputs.version_tag }}${{ matrix.tag_suffix }}
          push: true
          build-args: |
            VERSION=${{ needs.build.outputs.version }}${{ matrix.base_tag_suffix }}
