name: Build Docker Image
on:
    workflow_call:
        inputs:
            dockerfile:
                required: true
                type: string
            tags:
                required: true
                description: |-
                    Newline or comma separated list of tags to apply to this single-arch image build.
                    Example:
                        "highcard/druid:v0.1.170-amd64\nartifacts.druid.gg/druid-team/druid:v0.1.170-amd64"
                type: string
            build_args:
                required: false
                description: Optional newline separated build args (KEY=VALUE) passed to docker build.
                type: string
            runs_on:
                required: false
                type: string
                default: ubuntu-latest
        secrets:
            DOCKERHUB_USERNAME:
                required: true
            DOCKERHUB_TOKEN:
                required: true
            DRUID_ARTIFACTS_REGISTRY_USERNAME:
                required: true
            DRUID_ARTIFACTS_REGISTRY_TOKEN:
                required: true

jobs:
    build:
        runs-on: ${{ inputs.runs_on }}
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Login to Artifacts Registry
              uses: docker/login-action@v3
              with:
                  registry: artifacts.druid.gg
                  username: ${{ secrets.DRUID_ARTIFACTS_REGISTRY_USERNAME }}
                  password: ${{ secrets.DRUID_ARTIFACTS_REGISTRY_TOKEN }}
            - name: Build and push (single-arch) image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: ${{ inputs.dockerfile }}
                  tags: ${{ inputs.tags }}
                  push: true
                  build-args: |
                      GIT_COMMIT=${{ github.sha }}
                      GIT_BRANCH=${{ github.ref_name }}
                      ${{ inputs.build_args }}
