name: Build Docker Image
on:
    workflow_call:
        inputs:
            dockerfile:
                required: true
                type: string
            tag_suffix:
                required: true
                type: string
            version:
                required: true
                type: string
            version_tag:
                required: true
                type: string
            base_tag_suffix:
                required: false
                type: string
                default: ""
            is_nix:
                required: false
                type: boolean
                default: false
            platforms:
                required: false
                type: string
                default: "linux/amd64"
        secrets:
            DOCKERHUB_USERNAME:
                required: true
            DOCKERHUB_TOKEN:
                required: true
            DRUID_ARTIFACTS_REGISTRY_USERNAME:
                required: true
            DRUID_ARTIFACTS_REGISTRY_TOKEN:
                required: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Login to Artifacts Registry
              uses: docker/login-action@v3
              with:
                  registry: artifacts.druid.gg
                  username: ${{ secrets.DRUID_ARTIFACTS_REGISTRY_USERNAME }}
                  password: ${{ secrets.DRUID_ARTIFACTS_REGISTRY_TOKEN }}
            #stable is still pretty bleeding edge at this point
            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: ${{ inputs.dockerfile }}
                  platforms: ${{ inputs.platforms }}
                  tags: |
                      highcard/druid:latest${{ inputs.tag_suffix }}
                      highcard/druid:stable${{ inputs.tag_suffix }}
                      highcard/druid:${{ inputs.version }}${{ inputs.tag_suffix }}
                      highcard/druid:${{ inputs.version_tag }}${{ inputs.tag_suffix }}
                      artifacts.druid.gg/druid-team/druid:latest${{ inputs.tag_suffix }}
                      artifacts.druid.gg/druid-team/druid:stable${{ inputs.tag_suffix }}
                      artifacts.druid.gg/druid-team/druid:${{ inputs.version }}${{ inputs.tag_suffix }}
                      artifacts.druid.gg/druid-team/druid:${{ inputs.version_tag }}${{ inputs.tag_suffix }}
                  push: true
                  build-args: |
                      VERSION=${{ inputs.is_nix && format('{0}{1}', inputs.version, inputs.base_tag_suffix) || inputs.version }}
                      GIT_COMMIT=${{ github.sha }}
                      GIT_BRANCH=${{ github.ref_name }}
