name: PR Build
on:
  pull_request:
    branches: [master]
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "^1.24"
      - run: make test
        name: Unit tests

  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "^1.24"
      - run: make test-integration-docker
        name: Run integration tests inside Docker

  validate-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "^1.24"
      - run: make validate-api
        name: Validate API

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "^1.24"
      - run: make build
        name: Build
      - run: make build-plugins
        name: Build Plugins
      - uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            bin/druid
            bin/druid_rcon
            bin/druid_rcon_web_rust
            .docker/entrypoint.sh
            .docker/druid-install-command.sh

  prerelease:
    runs-on: ubuntu-latest
    needs: [unit-tests, integration-tests, validate-api, build]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Extract branch name
        id: extract_branch
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//-/g')" >> $GITHUB_ENV
      - uses: paulhatch/semantic-version@v5.4.0
        id: version
        with:
          version_format: "${major}.${minor}.${patch}-${{ env.BRANCH_NAME }}${increment}"
      - uses: actions/download-artifact@v4
        with:
          name: build-artifacts
      - name: Prerelease
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.version.outputs.version }}
          prerelease: true
          files: |
            bin/druid
            bin/druid_rcon
            bin/druid_rcon_web_rust
            .docker/entrypoint.sh
            .docker/druid-install-command.sh
